*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Funnel Display', sans-serif;
    color: #111111;
}

body
{
    background: #111111;
}

a
{
    color: #5cb6ff;
    text-decoration: none;
    font-size: 1.25rem;
}

a:hover
{
    color: #2bffdc;
}

i, a
{
    cursor: pointer;
}

li
{
    list-style: none;
}

header
{
    position: relative;
    padding: 0 2rem;
}

.wrapper
{
    max-width: 1200px;
    margin: 0 auto;
}

.navbar
{  
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 1rem;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111111;
    border-bottom: #2bffdc solid;
}

.links
{
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.navbar img
{
    height: 60px;
}

.navbar .links
{
    display: flex;
    gap: 2rem;
    padding-left: 90px;
}

.container
{
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #111111;
}


.content
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content img
{
    width: 48px;
    height: 48px;
    object-fit: contain;
}

.content h1
{
    font-family: 'Funnel Display', sans-serif;
    font-weight: lighter;
    background: linear-gradient(135deg, #5cb6ff, #2bffdc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 6rem;
    margin-bottom: 3rem;
    letter-spacing: 14px;
}


.content .search
{
    position: relative;
    width: 70vw;
    height: 5vh;
    border-radius: 30px;
    margin-bottom: 3rem;
}

.search input
{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 0 40px;
    font-size: 1rem;
}

.material-icons
{
    color: #111111;
}

.material-icons:hover
{
    color: #2bffdc;
}


.search #attach
{
    position: absolute;
    top: 50%;
    transform: translateY(-55%);
}

.search #style
{
    position: absolute;
    transform: translateX(-50%);
}

#premium
{
    font-size: 1.75rem;
}

/* .navbar, .links, .logo, #premium
{
    border: 1px solid red;
}
*/