*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Funnel Display', sans-serif;
    color: #111111;
}

body
{
}

i, a
{
    cursor: pointer;
}

.container
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #5cb6ff, #2bffdc);
}

.wrapper
{
    width: 95vw;
    height: 95vh;
    background-color: #111111;
    position: relative;
    padding: 20px;
    border-radius: 20px
}

.wrapper .top
{
    display: flex;
    justify-content: end;
    align-items: center;
}

.top
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top a
{
    color: #111111;
    margin-right: 2rem;
    text-decoration: none;
    font-size: 0.8rem;
}

.company-logo
{
    display: inline-block;
    margin-left: 1rem;
}

.company-logo img
{
    width: 36px;
    height: 36px;
    object-fit: contain;
}

.top .material-icons
{
    color: #2bffdc;
}

.top i
{
    color: #111111;
    font-size: 1.3rem;
    margin-right: 1.2rem;
}

a:last-of-type
{
    margin-right: 2rem;
}


.content
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content img
{
    width: 48px;
    height: 48px;
    object-fit: contain;
}

.content h1
{
    font-family: 'Funnel Display', sans-serif;
    font-weight: lighter;
    background: linear-gradient(135deg, #5cb6ff, #2bffdc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 6rem;
    margin-bottom: 3rem;
    letter-spacing: 14px;
}


.content .search
{
    position: relative;
    width: 75vw;
    height: 5vh;
    border-radius: 30px;
    margin-bottom: 3rem;
}

.search input
{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 0 40px;
    font-size: 1rem;
}

.material-icons
{
    color: #111111;
}

.search #attach
{
    position: absolute;
    top: 50%;
    transform: translateY(-55%);
}

.search #style
{
    position: absolute;
    transform: translateX(-50%);
}